Screen {
	background: $surface;
}

#left-panel {
	width: 25%;
}

#chat-list-panel {
	height: 50%;
	border: solid $primary;
	background: $panel;
}

#chat-details-panel {
	height: 50%;
	border: solid $primary;
	background: $panel;
}

#chat-list {
	width: 100%;
	height: 1fr;
    overflow-y: auto;
}

#chat-list:focus {
	border: solid $accent;
}

.chat-details-content {
	width: 100%;
	height: 100%;
	padding: 1;
}

#right-panel {
	width: 75%;
}

#conversation-panel {
	height: 1fr;
	border: solid $primary;
	background: $surface;
}

#input-panel {
	height: 1fr;
	min-height: 3;
	max-height: 25vh;
	border: solid $primary;
	background: $panel;
	overflow-y: scroll;
}

#input-panel > Vertical {
	width: 100%;
	height: 100%;
}

#message-input {
	width: 100%;
	height: 100%;
	margin: 1;
	overflow-y: scroll;
}

#status-spinner {
	width: 100%;
	height: 1;
	text-align: right;
	margin-right: 1;
	content-align: right middle;
}

#conversation-container {
	width: 100%;
	height: auto;
	padding: 1;
}

.message {
	margin: 1 0;
	padding: 1;
}

.user-message {
	background: $panel;
	border-left: solid $primary;
}

.user-message-header {
	background: $panel;
	margin: 1 0 0 0;
	padding: 1;
}

.message-header-item {
	width: 1fr;
}

.message-header-left {
	width: 1fr;
	text-align: left;
}

.message-header-right {
	width: 1fr;
	text-align: right;
	color: $text-muted;
}

.user-message-content {
	background: $panel;
	margin: 0 0 1 0;
	padding: 0 1 1 1;
}

.assistant-message {
	background: $surface;
	border-left: solid $success;
	width: 100%;
}

.assistant-message-header {
	background: $surface;
	margin: 1 0 0 0;
	padding: 1;
}

.assistant-message-content {
	background: $surface;
	margin: 0 0 1 0;
	padding: 0 1 1 1;
}

.empty-message {
	padding: 2;
	text-align: center;
	color: $text-muted;
}

.loading-message, .error-message {
	padding: 1;
	text-align: center;
	color: $text-muted;
}

.modal-content {
	width: 50;
	height: auto;
	background: $panel;
	border: solid $primary;
	padding: 2;
}

.modal-title {
	width: 100%;
	height: 1;
	margin-bottom: 1;
	text-align: center;
}

#chat-name-input {
	width: 100%;
	margin-bottom: 1;
}

#system-prompt-input {
	width: 100%;
	height: auto;
	min-height: 4;
	max-height: 12;
	margin-bottom: 1;
	padding: 1;
	border: solid $primary;
	overflow-y: auto;
}

#system-prompt-edit-input {
	width: 100%;
	height: auto;
	min-height: 6;
	max-height: 18;
	margin-bottom: 1;
	padding: 1;
	border: solid $primary;
	overflow-y: auto;
}

.modal-buttons {
	width: 100%;
	height: auto;
	align: center middle;
	margin-top: 1;
}

.modal-buttons Button {
	width: auto;
	height: 3;
	min-height: 3;
	margin: 0 1;
	min-width: 8;
	color: $text;
	background: $panel;
	border: solid $primary;
	text-align: center;
	content-align: center middle;
}

.modal-buttons Button:focus {
	border: solid $accent;
	background: $accent;
}

.modal-buttons Button.--primary {
	background: $accent;
	border: solid $accent;
}

